.result {
  padding-left: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(71, 71, 71);
  margin: 20px;
  display: flex;
  flex: 0 0 200px;
  flex-direction: column;
  background: white;
  align-items: center;
  min-width: 40%;
}

.url {
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

.image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
